/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Source Sans Pro";
	font-weight: 300;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: grey;
	background-image: url('https://ununsplash.imgix.net/photo-1417021423914-070979c8eb34?q=75&fm=jpg&s=55746bd56e02a131b1e48c12196ea866');
	background-size: cover;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 20%;
	height: 100%;
}

.header {
	height: 2em;
	background-color: white;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,.5);
	box-shadow: 0px 1px 2px -1px rgba(0,0,0,.5);
}

.header h2 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.main h1 {
	text-align: center;
	margin: 1em 0;
	font-family: "Libre Bakersville";
	font-weight: 700;
	font-size: 2em;
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,.2);
}

.entry-form {
	background-color: rgba(0,0,0,0.3);
	height: 2em;
	border-radius: 2em;
	width: 100%;
	-webkit-box-shadow: inset -0px -1px 4px -1px rgba(0,0,0,1);
	-moz-box-shadow: inset -0px -1px 4px -1px rgba(0,0,0,1);
	box-shadow: inset -0px -1px 4px -1px rgba(0,0,0,1);
}

.entry {
	background-color: rgba(0,0,0,0);
	height: 2em;
	width: 80%;
	margin-left: 2em;
	border: none;
	font-size: 1em;
	color: #fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.entry::-webkit-input-placeholder {
   color: #fff;
}

.entry:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.entry::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.entry:-ms-input-placeholder {  
   color: #fff;  
}

.entry, .submit {
	outline: none;
}

.submit {
	background-color: rgba(0,0,0,0);
	border: 1px solid #fff;
	border-radius: 1em;
	color: #fff;
	font-size: 1em;
	padding: .1em 1em;
	display: block;
	margin-right: 25px;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.list {
	margin: 2em 20%;
}

.item {
	margin: .33em 0;
	height: 1.75em;
}

.not-done {
/*	background-color: rgba(365,365,365,.8);
*/	border-radius: 2em;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,.5);
	box-shadow: 0px 1px 2px -1px rgba(0,0,0,.5);
	background-image: -webkit-linear-gradient(top, rgba(365,365,365,.8), rgba(235,235,235,.8));
	background-image: -moz-linear-gradient(top, rgba(365,365,365,.8), rgba(235,235,235,.8));
	background-image: -ms-linear-gradient(top, rgba(365,365,365,.8), rgba(235,235,235,.8));
	background-image: -o-linear-gradient(top, rgba(365,365,365,.8), rgba(235,235,235,.8));
	background-image: linear-gradient(to bottom, rgba(365,365,365,.8), rgba(235,235,235,.8));
}

.checkbox {
	width: .75em;
	height: .75em;
	margin: 0 .75em;
	background-color: rgba(365,365,365,.7);
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .2em;
}

.checkbox, .item p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
}

.not-done p {

}

.done .checkbox {
	background-color: initial;
}

.done a {
	color: black;
	text-decoration: line-through;
}

.done a:hover {
	text-decoration: none;
}











































